PrivateSettings.xcodeproj/project.xcworkspace/contents.xcworkspacedata
PrivateSettings.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate
PrivateSettings.xcodeproj/xcuserdata/mac.xcuserdatad/xcschemes/PrivateSettings.xcscheme
PrivateSettings.xcodeproj/xcuserdata/mac.xcuserdatad/xcschemes/xcschememanagement.plist
build